doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-theme.css')
    script(src="http://code.jquery.com/jquery-1.11.0.min.js")
    script(src="/javascripts/bootstrap.js")
  body
    .container-main
      block content